.container {
  width: 80%;
  margin: 0 auto;
  background-color: #393e46;
  /* position: relative; */
  overflow: hidden;
}

.main-content {
  min-height: 90vh;
  color: #eeeeee;
  margin-top: 100px;
}
